
__pycache__/
*.py[cod]
*$py.class


.venv/
venv/
env/
ENV/

.vscode/
.idea/

.DS_Store
Thumbs.db

.env

outputs/
experiments/
models/

logs/
*.log

.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

build/
dist/
*.egg-info/

.ipynb_checkpoints/

/charts/
*.png

tests/
tmp/
temp/
*.tmp

*.db
*.sqlite3outputs

frontend/node_modules/